/* standart */
a:focus,
button:focus,
input:focus {
  outline: none;
}

/* home */
.header__item a:hover:after,
.header__item a:focus:after {
  width: 100%;
}

.home__link:hover,
.home__link:focus {
  background: #fb414e;
}

/* services */
.feautures-cards__item:hover {
  background: #fb414e;
  transform: scale(1.05);
  box-shadow: 0px 8px 10px black;
}

/* about */
.about__btn:hover,
.about__btn:focus {
  background: #fb414e;
  border-color: #fb414e;
}

/* works */
.works__button:not(.active):hover:after,
.works__button:not(.active):focus:after {
  width: 100%;
}

.works__button._anim-items.active:focus {
  transform: translateY(-10px);
}

/* statictic */
.statistic__button:hover,
.statistic__button:focus {
  background: #1f1f1f;
  color: white;
}

/* footer */
.footer__icon:hover path {
  fill:#fb414e;
}


/* keyframes */

/* scale 1 to 0.5 */
@keyframes scales {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.5);
  }
}

/* WorkAnim */
@keyframes workAnim {

  0%,
  100% {
    opacity: 1;
    transform: scale(1) scaleX(1) rotateX(0deg);
  }

  30% {
    opacity: 0;
    transform: scale(0.5) scaleX(0.2) rotateX(90deg);
  }
}