/* Standart */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* common styles */
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

._title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 48px;
}

._text {
  font-weight: 300;
  line-height: 28px;
}

._button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 50px;
  border: 2px solid #fb414e;
  background: transparent;
  font-size: inherit;
  color: #ffffff;
  transition: all .5s linear;
}

.to-download {
  display: none;
}

/* home */

.home {
  padding: 60px 0 245px 0;
  background-image: url(img/Home/fon1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s linear;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
}

.header__logo {
  font-size: 36px;
  font-weight: 900;
}

.header__logo span {
  color: #fb414e;
}

.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__item a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.header__item a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fb414e;
  transition: all .4s linear;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.gamburger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
  transition: all .5s ease-in-out;
}

.gamburger__item {
  width: 4px;
  height: 4px;
  background: #fb414e;
  border-radius: 5px;
  box-shadow: 0 0px 5px #fff;
  transition: all .5s ease-in-out;
}

.gamburger__item::before,
.gamburger__item::after {
  content: '';
  width: 15px;
  background: #fff;
  position: absolute;
  height: 4px;
  border-radius: 5px;
  box-shadow: 0 0px 5px #fb414e;
  transition: all .5s ease-in-out;
}

.gamburger__item:before {
  transform: translate(-15px, -8px);
}

.gamburger__item:after {
  transform: translateY(8px);
}

.gamburger.open .gamburger__item {
  transform: rotate(-405deg);
  width: 30px;
  background: #fff;
}

.gamburger.open .gamburger__item::before {
  width: 14px;
  background: #fb414e;
  box-shadow: 0 0px 5px #fb414e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform: translate(8px, 9px) rotate(450deg);
}

.gamburger.open .gamburger__item::after {
  width: 14px;
  box-shadow: 0 0px 5px transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform: translate(8px, -9px) rotate(450deg);
}

.home__body {
  text-align: center;
  margin-top: 130px;
}

.home__title {
  font-size: 60px;
  max-width: 881px;
  margin: 0 auto;
}

.home__text {
  margin: 60px auto 65px auto;
  max-width: 648px;
}

.home__links-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__link {
  transition: all .5s linear;
}

.home__link:first-child {
  margin-right: 30px;
}

/* services */
.services {
  padding-bottom: 143px;
}

.feautures-cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  transform: translateY(-85px);
}

.feautures-cards__box {
  padding: 0 15px;
  flex: 0 1 33.33%;
  margin-bottom: 30px;
}

.feautures-cards__item {
  padding: 75px 58px;
  height: 100%;
  background: #202b30;
  transition: all .5s linear;
}

.feautures-cards__subtitle {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
}

.feautures-cards__subtitle:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  margin: 30px 0;
}

.services__subtitle {
  color: #fb414e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.services__title {
  color: #1f1f1f;
  font-size: 60px;
  margin: 10px 0 45px 0;
  text-align: center;
}

.services__title span {
  color: #fb414e;
}

.services__text {
  color: #838383;
  text-align: center;
  margin: 0 auto;
  max-width: 679px;
  margin-bottom: 127px;
}

.services__block {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.services__box {
  flex: 0 1 33.33%;
  padding: 0 40px;
  margin-bottom: 70px;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-item__title {
  margin: 25px 0;
  color: #1f1f1f;
  font-size: 32px;
  text-align: center;
}

.services-item__text {
  max-width: 297px;
  color: #838383;
  text-align: center;
  transition: all .5s linear;
}

/* about */
.about {
  padding: 115px 0;
  background: #202b30;
}

.about__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.about__body {
  flex: 1 1 50%;
  padding-right: 30px;
}

.about__text {
  max-width: 557px;
  margin: 50px 0;
}

.about__btn {
  border-color: white;
  transition: all .5s linear;
}

.about__pictures {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.about__pictures img {
  max-width: 100%;
  opacity: 0;
}

.about__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 40px;
  background-repeat: no-repeat;
  background: url(img/About/f1.png);
  animation: scales 3.5s infinite alternate linear;
  animation-delay: 3.5s;
}

.about__fon-image {
  display: flex;
  background: #fb414e;
  background-repeat: no-repeat;
  animation: scales 3.5s infinite alternate linear;
}

.about__pictures-fon1 .about__image {
  background: #fb414e;
}

.about__pictures-fon1 .about__fon-image {
  background: url(img/About/f2.png);
}

.about__pictures-fon2 .about__image {
  background: url(img/About/f3.png);
}

.about__pictures-fon2 .about__fon-image {
  background: #fb414e;
}

.about__pictures-fon3 .about__image {
  background: #fb414e;
}

.about__pictures-fon3 .about__fon-image {
  background: url(img/About/f4.png);
}

/* feautures */
.feautures {
  background-color: #F8F8F8;
  padding: 140px 0;
}

.feautures__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feautures__items-block {
  flex: 1 1 50%;
  padding-right: 45px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.feautures__box {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
}

.feautures__box:nth-child(1),
.feautures__box:nth-child(2) {
  margin-bottom: 60px;
}

.feautures__item {
  padding: 10px;
}

.feautures__subtitle {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 17px;
}

.feautures__description {
  max-width: 265px;
  color: #838383;
  line-height: 28px;
}

.feautures__body {
  flex: 1 1 50%;
}

.feautures__title {
  color: #1f1f1f;
  margin-bottom: 50px;
}

.feautures__text {
  color: #838383;
  line-height: 28px;
}

.feautures__text p:first-child {
  margin-bottom: 25px;
}

/* works */
.works {
  padding: 139px 0;
}

.works .container {
  padding: 0;
}

.works__nav {
  margin-bottom: 55px;
}

.works__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.works__item:not(:last-child) {
  margin-right: 60px;
}

.works__button {
  border: none;
  background: transparent;
  color: #a4a4a4;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: all .5s linear;
}

.works__button:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #a4a4a4;
  transition: all .5s linear;
}

.works__button.active {
  color: #1f1f1f;
}

.works__button.active:after {
  width: 100%;
  background-color: #1f1f1f;
}

.works__pictures {
  display: flex;
  flex-wrap: wrap;
}

.works__box {
  flex: 0 1 25%;
  padding: 4px;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.works__box img {
  max-width: 100%;
}

.works__box.hidden_image {
  display: none;
}

.works_box-anim img {
  transform-origin: center;
  animation: workAnim .8s 1 linear;
}

/* statictic */
.statistic {
  padding-bottom: 126px;
}

.statistic__row {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}

.statistic__body {
  color: #1f1f1f;
  flex: 0 1 50%;
  padding-right: 30px;
}

.statistic__title {
  max-width: 625px;
}

.statistic__text {
  max-width: 587px;
  margin: 52px 0;
}

.statistic__button {
  color: #1f1f1f;
  border-color:#1f1f1f;
  transition: 0.1s linear;
}

.statistic__video {
  flex: 0 1 50%;
  display: flex;
  align-self: flex-end;
}

.statistic__video iframe {
  max-width: 100%;
}